<div class="container">
  <button mat-flat-button class="back" routerLink=" ">Volver</button>
  <div class="container-contact ">
    <div class="row decor-default">
      <div class="col-md-12">
        <div class="contact" *ngIf="photo">
          <div class="controls">
            <img [src]="photo.url" class="cover animate__animated animate__slow animate__fadeInUp" />
          </div>
          <p class="contact-description">
            {{ photo.explanation }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
